In [1]:
import pandas as pd
path1 = 'E:\课题组相关\科创II\id_mapping.csv'
df = pd.read_csv(path1, header=0)  
df.head()

    chr  start    end  width loadedanno.gene_id loadedanno.type
0  chr1  11869  14409   2541  ENSG00000223972.5            gene
1  chr1  11869  14409   2541  ENSG00000223972.5      transcript
2  chr1  11869  12227    359  ENSG00000223972.5            exon
3  chr1  12613  12721    109  ENSG00000223972.5            exon
4  chr1  13221  14409   1189  ENSG00000223972.5            exon

In [12]:
path2 = 'E:\课题组相关\科创II\onlygene.csv'
df2 = pd.read_csv(path2, header=0)
df2

        chr     start       end  width loadedanno.gene_id loadedanno.type
0      chr1     11869     14409   2541  ENSG00000223972.5            gene
1      chr1     14404     29570  15167  ENSG00000227232.5            gene
2      chr1     17369     17436     68  ENSG00000278267.1            gene
3      chr1     29554     31109   1556  ENSG00000243485.3            gene
4      chr1     30366     30503    138  ENSG00000274890.1            gene
...     ...       ...       ...    ...                ...             ...
60441  chrY  26549425  26549743    319  ENSG00000224240.1            gene
60442  chrY  26586642  26591601   4960  ENSG00000227629.1            gene
60443  chrY  26594851  26634652  39802  ENSG00000237917.1            gene
60444  chrY  26626520  26627159    640  ENSG00000231514.1            gene
60445  chrY  56855244  56855488    245  ENSG00000235857.1            gene

[60446 rows x 6 columns]

In [3]:
df['loadedanno.type'].get(0)

'gene'

In [4]:
#df2[0:1]['loadedanno.gene_id'] == 'ENSG00000223972.5'  结果是true   并不专业的示范
genelines = df[df['loadedanno.type']=='gene'].index.tolist()
#genelines

In [5]:
count = 0
l1 = []
l2 = []
for index in genelines:
    exonlenth =0
    gene_id = df['loadedanno.gene_id'].get(count)
    while count<index:
        if df['loadedanno.type'].get(count)=='exon':
            exonlenth = exonlenth+df['width'].get(count)
        count = count+1
    #print('id '+gene_id+' len '+str(exonlenth))
    l1.append(gene_id)
    l2.append(exonlenth)

In [6]:
l1 = l1[1:]
l2 = l2[1:]

In [7]:
df_exon = pd.DataFrame({'loadedanno.gene_id': l1, 'exonlen': l2})
df_exon.head()

  loadedanno.gene_id  exonlen
0  ENSG00000223972.5     2289
1  ENSG00000227232.5     1351
2  ENSG00000278267.1       68
3  ENSG00000243485.3     1247
4  ENSG00000274890.1      138

In [11]:
result = pd.merge(df2, df_exon, how='left', on = ['loadedanno.gene_id'])
result
result.to_csv('geneid_anno.csv',index=0)

In [9]:
result['exonlen'].isnull().sum()

1

In [3]:
import pandas as pd
exonlen = pd.read_csv('exonlength.csv', header=None)  
del exonlen[0]
exonlen

,1,2,3,4,5,6,7,8,9,10,...,60474,60475,60476,60477,60478,60479,60480,60481,60482,60483
0,ENSG00000000003.13,ENSG00000000005.5,ENSG00000000419.11,ENSG00000000457.12,ENSG00000000460.15,ENSG00000000938.11,ENSG00000000971.14,ENSG00000001036.12,ENSG00000001084.9,ENSG00000001167.13,...,ENSGR0000263980.4,ENSGR0000264510.4,ENSGR0000264819.4,ENSGR0000265658.4,ENSGR0000270726.4,ENSGR0000275287.3,ENSGR0000276543.3,ENSGR0000277120.3,ENSGR0000280767.1,ENSGR0000281849.1
1,4535,1610,1207,6883,5967,3474,8145,2793,8463,3811,...,75,74,74,75,773,290,68,64,515,484

In [4]:
exonlenT = pd.DataFrame(exonlen.values.T, index=exonlen.columns, columns=exonlen.index)
exonlenT

                        0     1
1      ENSG00000000003.13  4535
2       ENSG00000000005.5  1610
3      ENSG00000000419.11  1207
4      ENSG00000000457.12  6883
5      ENSG00000000460.15  5967
...                   ...   ...
60479   ENSGR0000275287.3   290
60480   ENSGR0000276543.3    68
60481   ENSGR0000277120.3    64
60482   ENSGR0000280767.1   515
60483   ENSGR0000281849.1   484

[60483 rows x 2 columns]

In [9]:
exonlenT[exonlenT[0]=='ENSG00000274890.1']

                       0    1
55620  ENSG00000274890.1  138

In [10]:
exonlenT.to_csv('exonlen.csv',index=0)

In [13]:
df2 = pd.merge(df2,exonlenT,how='left',left_on='loadedanno.gene_id',right_on=0)
del df2['loadedanno.type']

df2

,chr,start,end,width,loadedanno.gene_id,0,1
0,chr1,11869,14409,2541,ENSG00000223972.5,ENSG00000223972.5,1735
1,chr1,14404,29570,15167,ENSG00000227232.5,ENSG00000227232.5,1351
2,chr1,17369,17436,68,ENSG00000278267.1,ENSG00000278267.1,68
3,chr1,29554,31109,1556,ENSG00000243485.3,ENSG00000243485.3,1021
4,chr1,30366,30503,138,ENSG00000274890.1,ENSG00000274890.1,138
...,...,...,...,...,...,...,...
60441,chrY,26549425,26549743,319,ENSG00000224240.1,ENSG00000224240.1,319
60442,chrY,26586642,26591601,4960,ENSG00000227629.1,ENSG00000227629.1,342
60443,chrY,26594851,26634652,39802,ENSG00000237917.1,ENSG00000237917.1,2337
60444,chrY,26626520,26627159,640,ENSG00000231514.1,ENSG00000231514.1,640
60445,chrY,56855244,56855488,245,ENSG00000235857.1,ENSG00000235857.1,245

In [14]:
del df2[0]

df2.to_csv('geneid_anno_1.csv',index=0)